<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/1e87401f-0809-4d24-aec5-147e14b207b0/resourceGroups/DefaultResourceGroup-SEAU/providers/Microsoft.Web/sites/OutlookSigManager20260202135923</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://outlooksigmanager20260202135923-afake7ctdkhnawdx.australiasoutheast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>759f039c-782c-0558-0973-c07ceb3d25ea</ProjectGuid>
    <publishUrl>ftps://waws-prod-ml1-053.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>OutlookSigManager20260202135923\$OutlookSigManager20260202135923</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>